*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/ua/sviatkuzbyt/cityweather/data/api/key.kt
/compose_reports/app_debug-classes.txt

/stable_reports/app_debug-classes.txt
/compose_reports/app_debug-composables.csv
/stable_reports/app_debug-composables.csv
/stable_reports/app_debug-composables.txt
/compose_reports/app_debugAndroidTest-classes.txt
/stable_reports/app_debugAndroidTest-classes.txt
/compose_reports/app_debugAndroidTest-composables.csv
/stable_reports/app_debugAndroidTest-composables.csv
/compose_reports/app_debugAndroidTest-composables.txt
/stable_reports/app_debugAndroidTest-composables.txt
/compose_reports/app_debugUnitTest-classes.txt
/stable_reports/app_debugUnitTest-classes.txt
/compose_reports/app_debugUnitTest-composables.csv
/stable_reports/app_debugUnitTest-composables.csv
/compose_reports/app_debugUnitTest-composables.txt
/stable_reports/app_debugUnitTest-composables.txt
/CityWeather.drawio
